REACT_APP_BASE_API_URL=https://www.bestpracticify.co/api
REACT_APP_BASE_ROOT_URL=https://www.bestpracticify.co
REACT_APP_STRIPE_KEY=pk_test_51JH9oLJ708iVAZsoxMt8YdGnYBxxyAbI65tct1LbKy5kWenz6E8CTzJlWr4eOnADslmwaqfTMVqiyZKvlHYJdxX800JOYkQTcB
REACT_APP_PAYPAL_SANDBOX_APP_ID =Aa-vU2J4KMuYsomszBNCwjhjDYZM1we1t7Wqy0uGseNCXDL19botBgMPx3itT0z_SZ_LDx4r9MjOfQNX
REACT_APP_PAYPAL_PRODUCTION_APP_ID =YOUR-PRODUCTION-APP-ID

# In order to get production's app-ID, you will have to send your app to Paypal for approval first
# For sandbox app-ID (after logging into your developer account, please locate the "REST API apps" section, click "Create App"): 
# => https://developer.paypal.com/docs/classic/lifecycle/sb_credentials/
# For production app-ID:
#   => https://developer.paypal.com/docs/classic/lifecycle/goingLive/