html{
  font-size: 62.5%; /* browser default 16px  62.5 */
  box-sizing: border-box;
}

body{
  font-size: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4!important;
}
#root{
  height: 100%;
}
.full-width{
  width: 100%;
}
.mt-5{
  margin-top: .5rem;
}
.link_cursor
{
    cursor: pointer;
}
.link_cursor:hover{
  color: gold;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  /* min-height: 100vh; */
  height: 100%;
}
.header{
  grid-area: header;
  background-color: rgb(160, 78, 140);
  color:whitesmoke;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}
.brand a {
  color:whitesmoke;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}
.header-links a{
  color:whitesmoke;
  text-decoration: none;
  padding: 0.5rem;

}
.header-links a:hover{
  color: gold;
}

.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
  background-color: rgb(160, 78, 140);
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* rich editor css */

.app .rich-editor {	  padding: 10rem;	}	
.rich-editor .rdw-editor-main {	  background-color: #fff;	}	
.rich-editor .DraftEditor-editorContainer {	  padding: 1rem;	}	
.draft-editor-wrapper {	  border: 1px solid #ccc;	}